<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.venier.benkhemis.projetandroid.miamfindercontentprovider">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <provider android:authorities="fr.benkhemis.venier.miamfinder.contentprovider"
            android:exported="true" android:name=".MiamFinderContentProvider"> </provider>

    </application>

</manifest>
